<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer_Sentiment</title>
    <h2>PATEL MEASUREMENT</h2>
</head>
<body>
    <form action="/submit" method="post">
        <h3>Petal Length</h3>
        <label for="Sepal Length">Sepal Length</label> <br>
        <input type="text" id="Sepal length" name="Sepal Length"><br>
        <label for="Sepal Width">Sepal Width</label> <br>
        <input type="text" id="Sepal Width" name="Sepal Width"><br>
        <label for="Petal Length">Petal Length</label> <br>
        <input type="text" id="Petal Length" name="Petal Length"><br>
        <label for="Petal Width">Petal Width</label> <br>
        <input type="text" id="Petal Width" name="Petal Width"><br>
        <input type="Submit" value="Submit"> <br>
    </form>
</body>




 {{prediction_text}}

</html>

